BODY {
	background-color: White;
	color: black;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 50px;
}
H1 {
	background-color: #aaa;
	margin: 0px;
	font-size: 150%;
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
}
H2 {
	background-color: #ccc;
	font-size: 120%;
	margin: 0px;
	padding: 2px;
	border-bottom: 1px solid black;
	top: 25px;
	left: 0px;
	right: 0px;
	position: fixed;
}
A {
	color: blue;
}
A:Active {
	color: red;
}
UL {
	margin: 5px;
	padding-left: 15px;
}
LI SPAN {
	cursor: pointer;
	color: green;
}
LI SPAN.exists {
	color: maroon;
}
LI A {
	font-weight: bold;
}
DIV#controls {
	position: absolute;
	border-top: 1px solid black;
	background-color: #ccc;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
}
LABEL {
	font-weight: bold;
}

FORM {
	padding: 5px;
}

DIV.description {
	font-size: 80%;
}

DIV.error {
	color: red;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
}

DIV.status {
	color: green;
	border: 1px solid green;
	margin: 5px;
	padding: 5px;
}

.disabled {
	color: #666;
}

SPAN.filecontrols {
	padding: 0 2px 0 2px;
	margin: 0;
	border: 1px outset #ccc;
	font-size: 80%;
	background-color: #ccc;
}

SPAN.filecontrols A {
	font-weight: normal;
	text-decoration: none;
}
